* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: black;
    font-weight: 600;
    
}

.top{
    background-image: url("assets/image(10).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8rem;
    padding-left: 7rem;
}

.navbar .left img{
    width: 100px;
    height: 100px;
}

.navbar .left{
    padding-top: 3rem;
}

.navbar .right{
    padding-top: 1.8rem;
    display: flex;
    align-items: center;
    gap: 6rem;
    
}

.navbar .right a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.navbar .right a:hover{
    color: #FFCC6D;
    text-decoration: none;
    font-size: 1.3rem;
}

.questions{
    padding-top: 8rem;
    color: white;
    font-size: 1.3rem;
    margin-left: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 5rem;
}

.title{
    padding-top: 6rem;
    padding-bottom: 3rem;
    max-width: 75%;
    color: #FFCC6D;
    display: flex;
    font-size: 5.3rem;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.p1{
    color: white;
    max-width: 75%;
    display: flex;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

.p2{
    color: white;
    margin-top: 2rem;
    max-width: 75%;
    display: flex;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

.name{
    color: #FFCC6D;
    font-size: 1.3rem;
    font-weight: 600;
}

.explanation{
    color: #808080;
    font-size: 1rem;
    font-weight: 400;
    transition-duration: 200ms;
}

.explanation:hover{
    color: white;
    font-size: 1rem;
    font-weight: 415;
}

.d{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 75%;
    row-gap: 6rem;
    column-gap: 12rem;
}


.divisions{
    margin-top: 4.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

li{
    margin-left: 2rem;
}

.bottom{
    background-image: url("assets/image(8).png");
    margin-top: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a{
    color: #FFCC6D;
    
}


.icons{
    margin-top: 5rem;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap:15rem;
    padding-bottom: 4rem;
}



.icons img{
    width: 2.3rem;
    height: 2.3rem;
    opacity: 0.7;
    transition-duration: 200ms;
}

.icons img:hover{
    width: 2.4rem;
    height: 2.4rem;
    opacity: 1;
}

.copyright{
    color: white;
    width: 100%;
    display: flex;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 2rem;
}


